body {
    font-family:  'Inter', sans-serif;
  }

  .container {
    display: flex;
    max-width: 1200px;
    padding: 40px;
    gap: 40px;
  }

div{
  h4 {
    color: #F25430;
    letter-spacing: 2px;
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
    color: #111;
  }

 p {
    font-size: 16px;
    line-height: 1.7;
    color: #333;
  }

  button {
    background-color: #F25430;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 24px;
  }

}
  img {
    height:500px;
  }


